<h1>メモアプリ</h1>
<form method="POST" action="/memos">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="id" value="<%= @memo[0] %>">
  <div>タイトル：</div>
  <div><input type="text" name="title" value="<%= escape_html(@memo[1]) %>" maxlength="15"></div>
  <div>メモ：</div>
  <div><textarea name="message" maxlength="50"><%= escape_html(@memo[2]) %></textarea></div>
  <div><input type="submit" value="変更"></div>
</form>
