<h1>メモアプリ</h1>
<form method="POST" action="/memos/update">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="id" value="<%= @memo[0] %>">
  <input type="text" name="title" value="<%= @memo[1] %>">
  <textarea name="message" rows="5"><%= @memo[2] %></textarea>
  <input type="submit" value="変更">
</form>
