<h1>メモアプリ</h1>
<ul>
  <% @memos.each do |memo| %>
    <li>
      <a href="/memos/<%= memo['id'] %>"><%= escape_html(memo['title']) %></a>
    </li>
  <% end %>
</ul>
<form method="GET" action="/memos/new">
  <button type="submit">追加</button>
</form>
