<h1>メモアプリ</h1>
<form method="POST" action="/memos">
  <div>タイトル：</div>
  <div><input type="text" name="title" maxlength="15"></div>
  <div>メモ：</div>
  <div><textarea name="message" maxlength="50"></textarea></div>
  <div><input type="submit" value="送信する"></div>
</form>
