<h1>メモアプリ</h1>
<div>
  <div>タイトル： <%= @memo[1] %></div>
</div>
<div>
  <div>メモ： <%= @memo[2] %></div>
</div>
<div>
  <form method="GET" action="/memos/<%= @memo[0] %>/edit">
    <button type="submit">変更</button>
  </form>
  <form method="POST" action="/memos/<%= @memo[0] %>">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">削除</button>
  </form>
</div>
