<h1>メモアプリ</h1>
  <form method="GET" action="/memos/new">
    <button type="submit">追加</button>
  </form>
<ul>
  <% @memos&.each do |memo| %>
    <li>
      <a href="/memos/<%= memo[0] %>"><%= memo[1] %></a>
    </li>
  <% end %>
</ul>
